body {
    background-color: $almost-white;
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    min-width: fit-content;
    font-family: "Epilogue";

    .container {
        display: grid;
        grid-template-columns: auto;

        article {
            grid-column-start: 1;
            // grid-row-start: 1;
            place-self: center;
            padding: 2rem;
            width: 36rem;

            h1 {
                font-size: 4.75rem;
                line-height: 1.125;
                padding: 3rem 0;
            }
            p {
                width: 28rem;
                line-height: 1.5;
                color: $medium-gray;
                font-size: 1.125rem;
                padding-bottom: 3rem;
            }
            button {
                background-color: $almost-black;
                border-radius: 15px;
                padding: 1rem 2rem;
                color: $almost-white;
                font-weight: 600;
                cursor: pointer;
                transition: all 0.25s ease-in-out;

                &:hover {
                    background-color: transparent;
                    color: $almost-black;
                    border-color: $almost-black;
                }
            }
        }
        .clients {
            display: flex;
            justify-content: center;
            gap: 3rem;
            // grid-row-start: 2;
            padding-top: 6rem;
        }

        @media (min-width: 1001px) {
            .hero {
                grid-row: 1 / span 2;
                grid-column-start: 2;
                padding: 2rem;
                width: 38rem;
            }
            .hero-mobile {
                display: none;
            }
        }
        // @media (max-width: 700px) {
        //     grid-template-columns: 1fr;
        // }
    }
}
